@font-face {
    font-family: Harmonia;
    src: url(./fonts/harmonia-regular.ttf);
  }  

.header-container {
    width: 100%;
    height: 200px;
    position: sticky;
    top: -30px;
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--strongColor);
    color: #ffffff;
    font-family: Harmonia, sans-serif;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0 .5px 2px var(--navColor);
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: .7px;
    width: 100%;
    height: 24px;
    background-color: var(--navColor);
    padding: 3px 0;
    font-weight: 300;
}

.nav-wrapper {
    margin: 0 20px;
    padding: 2px;
}

nav {
    margin-top: 1.2rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav a {
    --outline: 1px solid var(--navColor);
    color: var(--clr);
    color: var(--navColor);
    text-decoration: none;
    font-weight: 800;
}

nav a::after, nav a::before {
    display: block;
    content: '';
    border-bottom: var(--outline);
    transform: scaleX(0);
    transition: transform 175ms ease-in-out;
}

nav a:hover::after, nav a:hover::before{
    transform: scaleX(1);
}